<!DOCTYPE html>
<% include ./partials/head %>

<body>
  <div class="row" ng-cloak>
    <div ng-controller = "ctrl" ng-init = "init()" class = "small-10 small-offset-1 columns">

      <div class="row">
        <div class="medium-6 columns">
          <% include ./partials/toggles %>

          <h1 ng-bind="currentUser"></h1>

          <% include ./partials/todos %>
        </div>

        <div class="medium-6 columns" ng-hide = "currentUser" >
          <% include ./partials/login %>
        </div>
      </div>
    </div>    <!-- controller -->
  </div> <!-- row -->

<script src = "/public/app.js"></script>
</body>
</html>
