
<form name = "todoForm" ng-submit = "addTodo()" ng-cloak>
  <h2 ng-hide = "currentUser">Start adding todos....</h2>
  <label class="callout alert" ng-model = "todoErrors" ng-show="todoErrors">{{todoErrors}}</label>
  <label>Add todos:</label>
  <input type="text" ng-model = "newTodo">
</form>

<ul class = "no-bullet" ng-hide = "currentUser">
  <li ng-repeat="item in tempTodos">
    {{item.todo}} <a ng-click = "tempTodos.splice($index,1)">[Delete]</a>
  </li>
</ul>

<ul class = "no-bullet" ng-show = "currentUser">
  <li ng-repeat="item in todos">
    {{item.username}}: {{item.todo}} <a href="" ng-click = "deleteTodo()">[Delete]</a>
  </li>
</ul>
