<div class="puppy col-md-4">
  <h3>The most popular puppy image:</h3>
  <%= raw(@puppy.html) %>
  <p>
    Method: Get the most popular tweets with an image and the keyword "puppy" and embed with oembed.
  </p>
</div>
