<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1>Your dashboard</h1>
  <%= user.name %> <br>
  <%= user.email %> <br>
  <%= user.password %> <br>
  <a href="/logout">Logout</a>
</body>
</html>
